EXTERNAL_IP=127.0.0.1

SCHEMATICS_TALOS_VERSION=1.8.1
SCHEMATICS_TALOS_ARCH=amd64
SCHEMATICS_VALIDATE=false
SCHEMATICS_SLEEP_TIME=600

IMGFAC_VERSION=v0.5.0
IMGFAC_EXTERNAL_URL=imgfac.example.com
IMGFAC_EXT_REPO=reg.imgfac.example.com
IMGFAC_SECUREBOOT=false