machine:
  kubelet:
    # OpenEBS Mayastor
    extraMounts:
    - destination: /var/openebs/local
      options:
      - bind
      - rshared
      - rw
      source: /var/openebs/local
      type: bind
    extraArgs:
      node-labels: openebs.io/engine=mayastor
    nodeIP:
      validSubnets:
        - ${subnet}
  # Mayastor requires vm.nr_hugepages 
  sysctls:
    vm.nr_hugepages: "2048"
  # Setup hetzner ntp server.
  time:
  #     disabled: false # Indicates if the time service is disabled for the machine.
  #     # Specifies time (NTP) servers to use for setting the system time.
      servers:
          - ntp1.hetzner.de
          - ntp2.hetzner.com
          - ntp3.hetzner.net
          - 0.de.pool.ntp.org
          - 1.de.pool.ntp.org
          - time.cloudflare.com
